<div class="MAIN-CONTENT">
  <div id="post-589" class="post-589 page type-page status-publish hentry">
    <div class="fw-page-builder-content">
      <section class="pos-r" id="shortcode-9d990bb371641d0b5662024b0232466a">
        <div class="fw-container">
          <div class="fw-row">
            <div
              id="shortcode-e87de1a2dc5bae68de25db04a2992078"
              class="fw-col-xs-12 fw-col-sm-12 fw-col-md-12 text-left"
            >
              <div
                class="
                  SpecialTextBlock
                  special-text-block-color special-text-block-has-image
                  pos-r
                "
                id="shortcode-0ce54fa5d6b07be75a6848cabca16bdd"
              >
                <div class="SpecialHeading fw-heading mb-40">
                  <h2 class="special-title special-heading-letter">
                    Afanaber Bernard
                  </h2>
                  <div class="special-subtitle">
                    An Inspiring Mathematician and Award-Winning Author
                  </div>
                </div>
                <div class="special-text-block-image">
                  <div
                    class="bg-image"
                    data-bg-image="/static/assets/images/afanabere.jpeg"
                    style="
                      background-image: url('/static/assets/images/afanabere.jpeg');
                    "
                  ></div>
                </div>
                <div
                  class="
                    special-text-block-content
                    section-light
                    font-subheading
                  "
                >
                  <p>
                    Litle About author here
                  </p>
                </div>
              </div>
              <!-- end SpecialTextBlock -->
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
  <!-- end post -->
</div>
