<section>
  <article
    class="
      SinglePost
      post-330 post
      type-post
      status-publish
      format-standard
      has-post-thumbnail
      hentry
      category-writing
      tag-hobby tag-reading tag-writing
    "
    id="post-330"
  >
    <div class="container mb-80">
      <div class="SinglePostContent row mb-40">
        <div class="col-md-10 col-md-offset-0 col-sm-12 col-sm-offset-0">
          <div class="single-post-content-inner special-first-letter mb-60">
            <h4>The Kick-Off!</h4>
            <p>
              Mathematics is not a monster; let us put an end to that nightmare! Your child can implore our evidential approach to study mathematics with ease!
            </p>
            <p>
              In the process of teaching with this method, students started requesting for the lesson notes ahead of each class. To enable them study ahead for a greater participation in subsequent classes. The students said they find the method very interesting, simple and a great relief from the stress and fear initially encountered in solving mathematical problems. 
            </p>
            <p>
              It was the constant requests, resulting to high rate of demand that necessitated the compilation of the lesson notes into a textbook to make it available to a wider audience. Interestingly, two chapters included in this textbook are not found in any conventional Mathematics textbooks currently in use. They are foundational for the understanding of Arithmetic and Algebra. 
            </p>
            <p>
              Mathematics (as a subject) is the key and foundation for logical and critical thinking. Therefore, it is very essential to choose with caution, the ideal textbook that would give a child the firm foundation. The content of each book is a product of a good quality and high standard classroom experience, which puts the learner’s interest at the core of action. As such, it enables students to love and understand Mathematics concepts. 
            </p>

            <p>
              As a result of the classroom experience and direct interactions with students, the contents of the textbook and workbooks, bridges the gap between students and teachers and demystifies the subject through practical approaches. This will afford you the opportunity of having a good resource for your child and you have control over what they study. In addition, you learn alongside your child because of the ease of study. 
            </p>
            <p>
              Finally, a good success rate and testimonials are constantly recorded from students who excelled in Mathematics examination and aptitude tests, as a result of using this method.
            </p>

            <h4>A glimpse at the content</h4>
            Beside the topics recommend by education bodies for junior secondary
            students in mathematics that are well treated in this textbook, you
            child will be expose to;
            <ul>
              <li>Tips on how to study and understand Mathematics</li>
              <li>How to multiply any numbers mentally without stress</li>
              <li>How to find square root of any numbers without using a calculator</li>
              <li>THow to find square root of perfect and imperfect squares without using a calculator</li>
              <li>How to divide numbers mentally without stress</li>
              <li>How to find percentage of numbers mentally</li>
              <li>Associate properties of number</li>
              <li>Commutative properties of number</li>
              <li> Distributive properties of number </li>
              <li>…and a lot more…</li>
            </ul>

            <h4>Why Should I buy it?</h4>
            <p>
              Best Choice Mathematics series comes with a 30-day value-proof! This simply means that your child can study it and understand the contents within this stipulated time.
            </p>

            <h4>Payment method</h4>
            <p>
              We offer pay on delivery in any state capitals and major cities across Nigeria. So you will pay to the dispatch person when s/he brings it to your doorstep or preferred delivery location. Delivery is within 7 working days.
            </p>

            <h4>Cost and delivery</h4>
            The main textbook is sold for N3000 <br />
            Each workbook (JSS 1, 2 and 3) cost N1000 <br />
            The past question and answer cost N2000 <br />
            Delivery is free. We will call your on phone to confirm your
            availability before coming to deliver.

            <h4>15% discount</h4>
            <p>
              If your wish to buy these series as gift for other children, 15%
              discount is offer when you order at least five copies of ANY book
              in the series
            </p>
            <p>
              15% discount is also given to individuals who want to individual
              market Best Choice Mathematics Series
            </p>

            <h4 style="font-style: italic;">THIS SERIES IS STRICTLY NOT FOR SALE IN BOOKSHOPS</h4>
            <p>
              Best Choice Mathematics Textbook for Junior Secondary and workbooks ( JSS 1, 2 & 3) can ONLY be ordered directly from the Publishers and the Author as follows:
            </p>
            <span><strong>Publisher:</strong> Dehope Publishers 09011002052</span> <br>
            <span><strong>Author : </strong>Afanabere Bernard Akoshi 08069430990 </span>
            <p>You can also log into <a href="/">www.bestchoicemathematics.com</a> to order your copies or send an SMS to any of the phone numbers with the following information:</p>
            <p>Your full name, State, City, Delivery Address, Street and preferred delivery point.</p>
            <p>The author, Uncle Ben 10, as his students fondly call him, is a seasoned educationist with over a decade of direct interaction with students in the classroom. A gifted teacher of Mathematics, in other words, teaching Mathematics is a call of service he carries out with a passion that ensures good result.</p>
          </div>
          <!-- end single-post-content-inner -->
        </div>
        <!-- end $post_col_count -->
      </div>
      <!-- end SinglePostContent -->
    </div>
    <!-- end container -->
  </article>
</section>
<section class="pos-r" id="shortcode-b64470d29af9d9144cf746822c0fd0f8">
  <div class="container">
    <div class="row">
      <div class="BooksPanel" id="shortcode-db6f6943175305c452fe58565c524e3a">
        <div class="books-panel-container mt-10 row">
          <div class="books-panel-item col-sm-6 col-xs-12">
            <a
              href="/buy"
              class="books-panel-item-wrap is-book-panel-trigger"
              data-panel-show="128"
            >
              <div class="book-thumb-img-wrap has-edge">
                <img
                  width="467"
                  height="400"
                  src="/static/assets/images/bcmjs-slant.jpeg"
                  class="
                    attachment-odrin_small_soft
                    size-odrin_small_soft
                    wp-post-image
                  "
                  alt=""
                  sizes="(max-width: 267px) 100vw, 267px"
                  style="
                    min-width: 267px !important;
                    min-height: 400px !important;
                  "
                />
              </div>
              <h2 class="book-thumb-title">Best Choice Mathematics</h2>
              <span style="font-size: 12px !important"
                >(For Junior Secondary School)</span
              >
            </a>
          </div>
          <!-- end books-panel-item -->

          <div class="books-panel-item col-sm-6 col-xs-12">
            <a
              href="/buy"
              class="books-panel-item-wrap is-book-panel-trigger"
              data-panel-show="141"
            >
              <div class="book-thumb-img-wrap has-edge">
                <img
                  width="267"
                  height="400"
                  src="/static/assets/images/bcm-workbook.jpeg"
                  class="
                    attachment-odrin_small_soft
                    size-odrin_small_soft
                    wp-post-image
                  "
                  alt=""
                  loading="lazy"
                  sizes="(max-width: 267px) 100vw, 267px"
                  style="
                    min-width: 267px !important;
                    min-height: 400px !important;
                  "
                />
              </div>
              <h2 class="book-thumb-title">Best Choice Mathematics</h2>
              <span>Workbook</span>
            </a>
          </div>
          <!-- end books-panel-item -->

          <div class="books-panel-item col-sm-6 col-xs-12">
            <a
              href="/buy"
              class="books-panel-item-wrap is-book-panel-trigger"
              data-panel-show="142"
            >
              <div class="book-thumb-img-wrap has-edge">
                <img
                  width="267"
                  height="400"
                  src="/static/assets/images/bcm-pqa.jpeg"
                  class="
                    attachment-odrin_small_soft
                    size-odrin_small_soft
                    wp-post-image
                  "
                  alt=""
                  loading="lazy"
                  sizes="(max-width: 267px) 100vw, 267px"
                  style="
                    min-width: 267px !important;
                    min-height: 400px !important;
                  "
                />
              </div>
              <h2 class="book-thumb-title">Best Choice Mathematics</h2>
              <span>Past Questions and Answers</span>
            </a>
          </div>
          <!-- end books-panel-item -->

          <div class="books-panel-item col-sm-6 col-xs-12">
            <a
              href="/buy"
              class="books-panel-item-wrap is-book-panel-trigger"
              data-panel-show="141"
            >
              <div class="book-thumb-img-wrap has-edge">
                <img
                  width="267"
                  height="400"
                  src="/static/assets/images/bcmjs1-slant.jpeg"
                  class="
                    attachment-odrin_small_soft
                    size-odrin_small_soft
                    wp-post-image
                  "
                  alt=""
                  loading="lazy"
                  sizes="(max-width: 267px) 100vw, 267px"
                  style="
                    min-width: 267px !important;
                    min-height: 400px !important;
                  "
                />
              </div>
              <h2 class="book-thumb-title">Best Choice Mathematics</h2>
              <span>For JSS 1</span>
            </a>
          </div>
          <!-- end books-panel-item -->

          <div class="books-panel-item col-sm-6 col-xs-12">
            <a
              href="/buy"
              class="books-panel-item-wrap is-book-panel-trigger"
              data-panel-show="142"
            >
              <div class="book-thumb-img-wrap has-edge">
                <img
                  width="267"
                  height="400"
                  src="/static/assets/images/bcmjs2-slant.jpeg"
                  class="
                    attachment-odrin_small_soft
                    size-odrin_small_soft
                    wp-post-image
                  "
                  alt=""
                  loading="lazy"
                  sizes="(max-width: 267px) 100vw, 267px"
                  style="
                    min-width: 267px !important;
                    min-height: 400px !important;
                  "
                />
              </div>
              <h2 class="book-thumb-title">Best Choice Mathematics</h2>
              <span>For JSS 2</span>
            </a>
          </div>
          <!-- end books-panel-item -->

          <div class="books-panel-item col-sm-6 col-xs-12">
            <a
              href="/buy"
              class="books-panel-item-wrap is-book-panel-trigger"
              data-panel-show="142"
            >
              <div class="book-thumb-img-wrap has-edge">
                <img
                  width="267"
                  height="400"
                  src="/static/assets/images/bcmjs3-slant.jpeg"
                  class="
                    attachment-odrin_small_soft
                    size-odrin_small_soft
                    wp-post-image
                  "
                  alt=""
                  loading="lazy"
                  sizes="(max-width: 267px) 100vw, 267px"
                  style="
                    min-width: 267px !important;
                    min-height: 400px !important;
                  "
                />
              </div>
              <h2 class="book-thumb-title">Best Choice Mathematics</h2>
              <span>For JSS 3</span>
            </a>
          </div>
          <!-- end books-panel-item -->
        </div>
        <!-- end books-panel-container -->
      </div>
      <!-- end BooksPanel -->
    </div>
  </div>
</section>
