
        <section>
          <article class="SinglePost post-330 post type-post status-publish format-standard has-post-thumbnail hentry category-writing tag-hobby tag-reading tag-writing" id="post-330">
            <div class="container mb-80">
        
              <div class="SinglePostContent row mb-40">
        
                <div class="col-md-10 col-md-offset-0 col-sm-12 col-sm-offset-0">
                            <div class="single-post-content-inner special-first-letter mb-60">
                    
                    <p>As a gifted teacher of mathematics students find my method very interesting and simpler, at the end of my class some even demand for a photocopy of my lesson note to study ahead to enable them ask questions in our subsequent class.  A couple of parents had to withdraw their children from one of the schools I was teaching because I left. They felt that the incoming mathematics teacher might not be able demystify the subject for their children as I did.</p>
                    <p>
                      The subject-mathematics is the key and foundation for logical and critical thinking so care must be taking of the kind of mathematics textbooks we expose our children to. Most of the textbooks in circulation in schools today are not products of a well-researched and classroom experience that placed learner’s interest at the center as such it becomes very difficult for students to love and understand mathematics. 
                    </p>
                    <p>From demand, I have decided to convert my lesson notes into textbook to make it available to a wider audience. Two chapters included in this textbook are not found in any conventional mathematics textbooks currently in use but are highly important for the understanding of mathematical concepts. These series were written from classroom experience and direct interaction with students as such, bridges the gap between students and teachers and demystifies the subject through practical approaches. This will afford you the opportunity of not just having a good textbook for your children but also have controls over what the read.</p>

                    <h4>A glimpse at the content</h4>
                    Beside the topics recommend by education bodies for junior secondary students in mathematics that are well treated in this textbook, you child will be expose to;
                    <ul>
                    <li>A well-illustrated metric system and measurement</li>
                    <li>Mathematical symbols and their meaning </li>
                    <li>A brief summary of some basic topics and their formulae</li>
                    <li>Tips on how to study and understand mathematics</li>
                    <li>Associate properties of number</li>
                    <li>Commutative properties of number</li>
                    <li>Distributive properties of number</li>
                    <li>How to find square of any numbers without calculator</li>
                    <li>How to find square root of perfect and imperfect squares without calculator</li>
                    <li>How to divide numbers mentally without stress</li>
                    <li>How to find percentage of numbers mentally</li>
                    <li>How to add numbers mentally without stress</li>
                    <li>How to subtract numbers mentally without stress</li>
                    <li>…and a lot more… </li>
                    </ul>

                    <h4>Money back guarantee</h4>
                    <p>Best choice Mathematics series comes with 30-day money back guarantee which means after your child studied it, and not satisfied with the content, you call us on any of our numbers and get a refund.</p>

                    <h4>Payment method</h4>
                    <p>We offer pay on delivery in any state capitals and major cities across Nigeria. So you will pay to the dispatch person when s/he brings it to your doorstep or preferred delivery location. Delivery is within 7 working days.</p>
                    <h4>Cost and delivery </h4>
                    The main textbook is sold for N3000 <br>
                    Each workbook (JSS 1, 2 and 3) cost N1500 <br>
                    The past question and answer cost N2000 <br>
                    Delivery is free. We will call your on phone to confirm your availability before coming to deliver.

                    <h4>15% discount</h4>
                    <p>If your wish to buy these series as gift for other children, 15% discount is offer when you order at least five copies of ANY book in the series </p>
                    <p>15% discount is also given to individuals who want to individual market Best Choice Mathematics Series </p>
                    <h4>Printing quality </h4>
                    <p>The inside of the main textbook is printed on white bond paper (80gm). The cover is matte, and binding is perfect binding. The content has a combination of blue and white colors. The inside of the workbooks are printed on white bond paper (80gm). The cover is matte, and stitched. The inside of the past questions and answer is printed on white bond paper (80gm). The cover is matte, and binding is perfect binding. Best printing quality you can trust for durability.</p>

                  </div> <!-- end single-post-content-inner -->
                  
                </div> <!-- end $post_col_count -->
        
        
              </div> <!-- end SinglePostContent -->
            </div> <!-- end container -->
          </article>
        </section>
        <section
            class="pos-r"
            id="shortcode-b64470d29af9d9144cf746822c0fd0f8"
          >
            <div class="container">
              <div class="row">
                <div
                  class="BooksPanel"
                  id="shortcode-db6f6943175305c452fe58565c524e3a"
                >
                  <div class="books-panel-container mt-10 row">
                    <div class="books-panel-item col-sm-6 col-xs-12">
                      <a
                        href="/buy"
                        class="books-panel-item-wrap is-book-panel-trigger"
                        data-panel-show="128"
                      >
                        <div class="book-thumb-img-wrap has-edge">
                          <img
                            width="467"
                            height="400"
                            src="/static/assets/images/bcmjs-slant.jpeg"
                            class="
                              attachment-odrin_small_soft
                              size-odrin_small_soft
                              wp-post-image
                            "
                            alt=""
                            sizes="(max-width: 267px) 100vw, 267px"
                            style="min-width: 267px !important; min-height: 400px !important;"
                          />
                        </div>
                        <h2 class="book-thumb-title">Best Choice Mathematics</h2>
                        <span style="font-size: 12px !important;">(For Junior Secondary School)</span>
                      </a>
                    </div>
                    <!-- end books-panel-item -->

                    <div class="books-panel-item col-sm-6 col-xs-12">
                      <a
                        href="/buy"
                        class="books-panel-item-wrap is-book-panel-trigger"
                        data-panel-show="141"
                      >
                        <div class="book-thumb-img-wrap has-edge">
                          <img
                            width="267"
                            height="400"
                            src="/static/assets/images/bcm-workbook.jpeg"
                            class="
                              attachment-odrin_small_soft
                              size-odrin_small_soft
                              wp-post-image
                            "
                            alt=""
                            loading="lazy"
                            sizes="(max-width: 267px) 100vw, 267px"
                            style="min-width: 267px !important; min-height: 400px !important;"
                          />
                        </div>
                        <h2 class="book-thumb-title">Best Choice Mathematics</h2>
                        <span>Workbook</span>
                      </a>
                    </div>
                    <!-- end books-panel-item -->

                    <div class="books-panel-item col-sm-6 col-xs-12">
                      <a
                        href="/buy"
                        class="books-panel-item-wrap is-book-panel-trigger"
                        data-panel-show="142"
                      >
                        <div class="book-thumb-img-wrap has-edge">
                          <img
                            width="267"
                            height="400"
                            src="/static/assets/images/bcm-pqa.jpeg"
                            class="
                              attachment-odrin_small_soft
                              size-odrin_small_soft
                              wp-post-image
                            "
                            alt=""
                            loading="lazy"
                            sizes="(max-width: 267px) 100vw, 267px"
                            style="min-width: 267px !important; min-height: 400px !important;"
                          />
                        </div>
                        <h2 class="book-thumb-title">Best Choice Mathematics</h2>
                        <span>Past Questions and Answers</span>
                      </a>
                    </div>
                    <!-- end books-panel-item -->

                    <div class="books-panel-item col-sm-6 col-xs-12">
                      <a
                        href="/buy"
                        class="books-panel-item-wrap is-book-panel-trigger"
                        data-panel-show="141"
                      >
                        <div class="book-thumb-img-wrap has-edge">
                          <img
                            width="267"
                            height="400"
                            src="/static/assets/images/bcmjs1-slant.jpeg"
                            class="
                              attachment-odrin_small_soft
                              size-odrin_small_soft
                              wp-post-image
                            "
                            alt=""
                            loading="lazy"
                            sizes="(max-width: 267px) 100vw, 267px"
                            style="min-width: 267px !important; min-height: 400px !important;"
                          />
                        </div>
                        <h2 class="book-thumb-title">Best Choice Mathematics</h2>
                        <span>For JSS 1</span>
                      </a>
                    </div>
                    <!-- end books-panel-item -->

                    <div class="books-panel-item col-sm-6 col-xs-12">
                      <a
                        href="/buy"
                        class="books-panel-item-wrap is-book-panel-trigger"
                        data-panel-show="142"
                      >
                        <div class="book-thumb-img-wrap has-edge">
                          <img
                            width="267"
                            height="400"
                            src="/static/assets/images/bcmjs2-slant.jpeg"
                            class="
                              attachment-odrin_small_soft
                              size-odrin_small_soft
                              wp-post-image
                            "
                            alt=""
                            loading="lazy"
                            sizes="(max-width: 267px) 100vw, 267px"
                            style="min-width: 267px !important; min-height: 400px !important;"
                          />
                        </div>
                        <h2 class="book-thumb-title">Best Choice Mathematics</h2>
                        <span>For JSS 2</span>
                      </a>
                    </div>
                    <!-- end books-panel-item -->

                    <div class="books-panel-item col-sm-6 col-xs-12">
                      <a
                        href="/buy"
                        class="books-panel-item-wrap is-book-panel-trigger"
                        data-panel-show="142"
                      >
                        <div class="book-thumb-img-wrap has-edge">
                          <img
                            width="267"
                            height="400"
                            src="/static/assets/images/bcmjs3-slant.jpeg"
                            class="
                              attachment-odrin_small_soft
                              size-odrin_small_soft
                              wp-post-image
                            "
                            alt=""
                            loading="lazy"
                            sizes="(max-width: 267px) 100vw, 267px"
                            style="min-width: 267px !important; min-height: 400px !important;"
                          />
                        </div>
                        <h2 class="book-thumb-title">Best Choice Mathematics</h2>
                        <span>For JSS 3</span>
                      </a>
                    </div>
                    <!-- end books-panel-item -->
                    
                  </div>
                  <!-- end books-panel-container -->
                </div>
                <!-- end BooksPanel -->
              </div>
            </div>
      	</section>
   
