<div id="post-119" class="post-119 page type-page status-publish hentry">
  <div class="container mt-100 mb-100">
    <div class="row">
      <div class="col-sm-12">
        <div class="woocommerce">
          <div class="woocommerce-notices-wrapper"></div>

          <div class="SpecialHeading mb-100">
            <h2 class="special-title special-heading-letter">Buy</h2>
          </div>

          <form class="login" method="post">
            <p
              class="
                woocommerce-form-row woocommerce-form-row--wide
                form-row form-row-wide
              "
            >
              <label for="name"
                >Name&nbsp;<span class="required">*</span></label
              >
              <input
                type="text"
                name="name"
                id="name"
                autocomplete="name"
                value=""
                placeholder="Enter your full name"
              />
            </p>
            <p
              class="
                woocommerce-form-row woocommerce-form-row--wide
                form-row form-row-wide
              "
            >
              <label for="phone_number"
                >Phone Number&nbsp;<span class="required">*</span></label
              >
              <span class="password-input"
                ><input
                  class="woocommerce-Input woocommerce-Input--text input-text"
                  type="text"
                  name="phone_number"
                  id="phone_number" 
                  placeholder="Enter Phone Number"/><span class="show-password-input"></span
              ></span>
            </p>
            <p
              class="
                woocommerce-form-row woocommerce-form-row--wide
                form-row form-row-wide
              "
            >
              <label for="states"
                >State&nbsp;<span class="required">*</span></label
              >
              <span class="password-input"
                >
                <select>
                    <option disabled selected>--Select State--</option>
                    <option value="Abia">Abia</option>
                    <option value="Adamawa">Adamawa</option>
                    <option value="Akwa Ibom">Akwa Ibom</option>
                    <option value="Anambra">Anambra</option>
                    <option value="Bauchi">Bauchi</option>
                    <option value="Bayelsa">Bayelsa</option>
                    <option value="Benue">Benue</option>
                    <option value="Borno">Borno</option>
                    <option value="Cross Rive">Cross River</option>
                    <option value="Delta">Delta</option>
                    <option value="Ebonyi">Ebonyi</option>
                    <option value="Edo">Edo</option>
                    <option value="Ekiti">Ekiti</option>
                    <option value="Enugu">Enugu</option>
                    <option value="Gombe">Gombe</option>
                    <option value="Imo">Imo</option>
                    <option value="Jigawa">Jigawa</option>
                    <option value="Kaduna">Kaduna</option>
                    <option value="Kano">Kano</option>
                    <option value="Katsina">Katsina</option>
                    <option value="Kebbi">Kebbi</option>
                    <option value="Kogi">Kogi</option>
                    <option value="Kwara">Kwara</option>
                    <option value="Lagos">Lagos</option>
                    <option value="Nasarawa">Nasarawa</option>
                    <option value="Niger">Niger</option>
                    <option value="Ogun">Ogun</option>
                    <option value="Ondo">Ondo</option>
                    <option value="Osun">Osun</option>
                    <option value="Oyo">Oyo</option>
                    <option value="Plateau">Plateau</option>
                    <option value="Rivers">Rivers</option>
                    <option value="Sokoto">Sokoto</option>
                    <option value="Taraba">Taraba</option>
                    <option value="Yobe">Yobe</option>
                    <option value="Zamfara">Zamfara</option>
                    <option value="FCT">Federal Capital Territory</option>
                </select>
            </span>
            </p>

            <p
              class="
                woocommerce-form-row woocommerce-form-row--wide
                form-row form-row-wide
              "
            >
              <label for="number_of_copies"
                >Number of Copies&nbsp;<span class="required">*</span></label
              >
              <span class="password-input"
                ><input
                  class="woocommerce-Input woocommerce-Input--text input-text input-number"
                  type="number"
                  name="number_of_copies"
                  id="number_of_copies" 
                  placeholder="Number of Copies"/><span class="show-password-input"></span
              ></span>
            </p>

            <p
              class="
                woocommerce-form-row woocommerce-form-row--wide
                form-row form-row-wide
              "
            >
              <label for="phone_number"
                >Address&nbsp;<span class="required">*</span></label
              >
              <span class="address-input"
                ><input
                  class="woocommerce-Input woocommerce-Input--text input-text"
                  type="text"
                  name="address"
                  id="address" 
                  placeholder="Enter Your Delivery Address"/><span class="show-address-input"></span
              ></span>
            </p>

            <p class="form-row">
              <input
                type="hidden"
                id="woocommerce-login-nonce"
                name="woocommerce-login-nonce"
                value="854ba950b7"
              /><input
                type="hidden"
                name="_wp_http_referer"
                value="/odrin/demo1/my-account/?redirect-to=http://subsolardesigns.com/odrin/demo1/books-panel/"
              />
              <input
                type="submit"
                class="woocommerce-Button button"
                name="buy"
                value="Buy"
              />
            </p>
          </form>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>
