<section class="pos-r" id="shortcode-aa842275078d9bd99f21ecdc36a2eea4">
  <div class="fw-container">
    <div class="fw-row">
      <div
        id="shortcode-2c4e0c5304aad6402af6ffc61ea0745f"
        class="fw-col-xs-12 fw-col-sm-12 fw-col-md-6 text-left"
      >
        <div class="BookImageBackground book-bg-type-4">
          <div
            class="bg-image is-parallax"
            data-bg-image="/static/assets/images/jss-cover1.png"
          ></div>
        </div>

        <div
          class="BookImage is-wow fadeInLeft text-left"
          id="shortcode-c2e33f6bd022ef401e822ef7b0955bbc"
          data-wow-delay="0s"
        >
          <div class="book-image-wrapper SingleProductImage">
            <div class="PageFlipBook">
              <a
                href="/buy"
              >
                <img
                  src="/static/assets/images/bcmjs-slant-removebg-preview.png"
                  class="wp-post-image"
                />
              </a>
              <div class="single-product-price">
                <span class="price-text font-heading">
                  <span
                    class="woocommerce-Price-amount amount font-heading"
                  >
                    <span class="woocommerce-Price-amount amount"
                      ><span class="woocommerce-Price-currencySymbol"
                        >&#8358;</span
                      >3000</span
                    >
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end BookImage -->
      </div>
      <div
        id="shortcode-0ae42a8149c985adf7ad1173672b2bae"
        class="fw-col-xs-12 fw-col-sm-12 fw-col-md-6 text-right"
      >
        <div
          class="spacer"
          id="shortcode-4add823014ef5f7d509ba98c533cb335"
        ></div>
        <div
          class="SpecialHeading fw-heading text-right mt-20 mb-60"
          id="shortcode-26544a6bce3f347c73a8330eb573f203"
        >
          <h4 class="special-title special-heading-letter">BCM series</h4>
        </div>

        <div
          class="TextBlock"
          id="shortcode-78280d91c33ba14b32b09749f3b1652d"
        >
          <p style="text-align: right">
            <span class="ng-directive ng-binding">
              <p>
                Best Choice Mathematics for Junior Secondary Schools past questions and answers and workbook series addresses the myriads of challenges faced by our young stars in tackling mathematical problems, by providing an easy to read and step by step solution to mathematical problems. These series were written from classroom experience and direct interaction with students as such, bridges the gap between students and teachers and demystifies the subject through practical approaches. It treats in detail, all mathematical concepts with an ample supply of work examples and revision exercises at the end of each chapter.
              </p>
              <p>
                Best choice mathematics is carefully planned and arranged from the known to the unknown with the learners in mind.  Each chapter consists of clearly stated objectives of what is to be done. With network of teachers consulted and experts' advice sought, this book series provides the fundamental concept which most students will find appetizing. Each topic is treated step by step from different points of view to enable the reader have a balanced knowledge of each topic under consideration. 
              </p>
              </span
            >
          </p>
        </div>

        <div
          class="spacer"
          id="shortcode-721c40a2bc3ec5b956576c905369c926"
        ></div>

        <a
          href="books"
          class="shortcode-button btn btn-normal"
          id="shortcode-99506d65e5114750f5ebdf574d5992b1"
        >
          <span>View Books</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="pos-r" id="shortcode-b682299de40393d22ed848d7f9a08be9">
  <div class="fw-container">
    <div class="fw-row">
      <div
        id="shortcode-3da013b858af9fec0b9dfdd815036af1"
        class="
          fw-col-xs-12 fw-col-sm-12 fw-col-md-6
          text-left
          hidden-md hidden-lg
        "
      >
        <div class="BookImageBackground book-bg-type-4">
          <div
            class="bg-image is-parallax"
            data-bg-image="/static/assets/images/jss2-cover.png"
          ></div>
        </div>

        <div
          class="BookImage is-wow fadeInRight text-left"
          id="shortcode-d7adc3100db8035c6adcac11cb60bfee"
          data-wow-delay="0s"
        >
          <div class="book-image-wrapper SingleProductImage">
            <div class="PageFlipBook">
              <a
                href="/buy"
        
              >
                <img
                  src="/static/assets/images/bcm-pqa-removebg-preview.png"
                  class="wp-post-image"
                />
              </a>
              <div class="single-product-price">
                <span class="price-text font-heading">
                  <span
                    class="woocommerce-Price-amount amount font-heading"
                  >
                    <span class="woocommerce-Price-amount amount"
                      ><span class="woocommerce-Price-currencySymbol"
                        >&#8358;</span
                      >2000</span
                    >
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end BookImage -->
      </div>
      <div
        id="shortcode-faa62ae9de912d8954bb4ad0c5f67ead"
        class="fw-col-xs-12 fw-col-sm-12 fw-col-md-6 text-left"
      >
        <div
          class="spacer"
          id="shortcode-02891dd9fa1f0b2b5c84d6178e270ef6"
        ></div>
        <div
          class="SpecialHeading fw-heading text-left mt-20 mb-60"
          id="shortcode-87267b6cb820385bc481df6c0feaf535"
        >
          <h6 class="special-title special-heading-letter">BCM Past Questions & Answers</h4>
        </div>

        <div
          class="TextBlock"
          id="shortcode-6eb2954fba9bea50313759132bb047d8"
        >
          <p>
            <em>Best Choice Mathematics - Past Questions and Answers</em> is not your regular past questions and answers book. It is a well-structured masterpiece, carefully designed, sequentially presented, accurately weighed and written in simple language for self-understanding by the learner. 
          </p>
          <p>
            Clear explanations of mathematical concepts are given by breaking each problem down into miniature steps to enable every learner appreciate the solution progressively. 
          </p>
        </div>

        <div
          class="spacer"
          id="shortcode-bd9ebf957f4c94792081839c86e5d149"
        ></div>

        <a
          href="/buy"
          class="shortcode-button btn btn-normal"
          id="shortcode-5a43aa31129f65af754d0ed2658b972b"
        >
          <span>Buy Now</span>
        </a>
      </div>
      <div
        id="shortcode-0f1fcb4d1bc079cd89f39435df6ad4ad"
        class="
          fw-col-xs-12 fw-col-sm-12 fw-col-md-6
          text-left
          hidden-xs hidden-sm
        "
      >
        <div class="BookImageBackground book-bg-type-2">
          <div
            class="bg-image is-parallax"
            data-bg-image="/static/assets/images/jss-cover2.png"
          ></div>
        </div>

        <div
          class="BookImage is-wow fadeInRight text-right"
          id="shortcode-8e42ccb99a45bc4a28ac60623a0a0fa3"
          data-wow-delay="0s"
        >
          <div class="book-image-wrapper SingleProductImage">
            <div class="PageFlipBook">
              <a
                href="/buy"
        
              >
                <img
                  src="/static/assets/images/bcm-pqa-removebg-preview.png"
                  class="wp-post-image"
                />
              </a>
              <div class="single-product-price">
                <span class="price-text font-heading">
                  <span
                    class="woocommerce-Price-amount amount font-heading"
                  >
                    <span class="woocommerce-Price-amount amount"
                      ><span class="woocommerce-Price-currencySymbol"
                        >&#8358;</span
                      >2000</span
                    >
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end BookImage -->
      </div>
    </div>
  </div>
</section>

<section class="pos-r" id="shortcode-9839631e1126135ab800b0168346d516">
  <div class="fw-container">
    <div class="fw-row">
      <div
        id="shortcode-aaae566a2cf3c65435c216f2cdfd315b"
        class="fw-col-xs-12 fw-col-sm-12 fw-col-md-6 text-left"
      >
        <div class="BookImageBackground book-bg-type-4">
          <div
            class="bg-image is-parallax"
            data-bg-image="/static/assets/images/jss3-cover.png"
          ></div>
        </div>

        <div
          class="BookImage is-wow fadeInLeft text-left"
          id="shortcode-40097a96ad3b5ef875cd778991b982ad"
          data-wow-delay="0s"
        >
          <div class="book-image-wrapper SingleProductImage">
            <div class="PageFlipBook">
              <a
                href="/buy"
              >
                <img
                  src="/static/assets/images/bcm-workbook-removebg-preview.png"
                  class="wp-post-image"
                />
              </a>
              <div class="single-product-price">
                <span class="price-text font-heading">
                  <span
                    class="woocommerce-Price-amount amount font-heading"
                  >
                    <span class="woocommerce-Price-amount amount"
                      ><span class="woocommerce-Price-currencySymbol"
                        >&#8358;</span
                      >1500</span
                    >
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- end BookImage -->
      </div>
      <div
        id="shortcode-2ffde124084ae5d3f5ad2268d46b767b"
        class="fw-col-xs-12 fw-col-sm-12 fw-col-md-6 text-right"
      >
        <div
          class="spacer"
          id="shortcode-7fda88b96d5901b42af3aee5e727ce40"
        ></div>
        <div
          class="SpecialHeading fw-heading text-right mt-20 mb-60"
          id="shortcode-391f72ce6ce1d070488df787bd451c9e"
        >
          <h4 class="special-title special-heading-letter">Workbook</h4>
        </div>

        <div
          class="TextBlock"
          id="shortcode-b10a57ffd1be9759166941149dca77b2"
        >
          <p style="text-align: right">
            <em>Best Choice Mathematics Workbook</em> is designed to facilitate learners' understanding of each topic covered in the mathematics syllabus for each class. It is highly engaging and provides extra practice questions for learners thereby allowing them to study independently at their pace.
          </p>
          <p>
            More so, it allows both parents and teachers to monitor the progress of their child/student. This workbook serves as a road map for the teacher and a helpful aid for substitute teacher.
          </p>
        </div>

        <div
          class="spacer"
          id="shortcode-ae8e14853fd40adefd4892f582be66e7"
        ></div>

        <a
          href="/buy"
          class="shortcode-button btn btn-normal"
          id="shortcode-14a9c805e3a9519164b968f9c8a8be68"
        >
          <span>Buy</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="pos-r" id="shortcode-43beb77e2d230a3828279922b3c1d114">
  <div class="fw-container">
    <div class="fw-row">
      <div
        id="shortcode-a1f8db4b868bd92dbf28fb3705295140"
        class="fw-col-xs-12 fw-col-sm-12 fw-col-md-12 text-left"
      >
        <div
          class="
            SpecialTextBlock
            special-text-block-has-image
            pos-r
            is-wow
            fadeInUp
          "
          id="shortcode-bffcfb52b5ff21f94bba1cd45c2242ad"
          data-wow-delay="0s"
        >
          <div class="SpecialHeading fw-heading mb-40">
            <h2 class="special-title special-heading-letter">
              Afanabere Benard
            </h2>
            <div class="special-subtitle">
              A gifted Mathematics teacher
            </div>
          </div>
          <div class="special-text-block-image">
            <div
              class="bg-image"
              data-bg-image="/static/assets/images/afanabere.jpeg"
            ></div>
          </div>
          <div class="special-text-block-content font-subheading">
            <p>
              He has work appearing or forthcoming in over a dozen
              venues, including Buzzy Mag, The Spirit of Poe, and the
              British Fantasy Society journal Dark Horizons. Kate is
              also CEO of a company, specializing in custom book
              publishing and social media marketing services, have
              created a community for authors to learn and connect.
            </p>
          </div>
        </div>
        <!-- end SpecialTextBlock -->
      </div>
      <div
        id="shortcode-c2befd72ce319a3ac84d24050fdd03e5"
        class="fw-col-xs-12 fw-col-sm-8 fw-col-sm-offset-2 text-center"
      >
        <a
          href="/author"
          target="_self"
          class="shortcode-button btn btn-normal"
          id="shortcode-c1195dae38cbeb31454760802b8d2873"
        >
          <span>About Me</span>
        </a>

        <a
          href="/books"
          target="_self"
          class="shortcode-button btn btn-color"
          id="shortcode-dcda5cbf02305f6bfa0754a3dd244b0a"
        >
          <span>All Books</span>
        </a>
      </div>
    </div>
  </div>
</section>

 