<div class="MAIN-CONTENT">
  <div class="container mt-100 mb-100">
    <div class="row">
      <div class="col-sm-12">
        <div class="woocommerce-notices-wrapper"></div>
        <div
          id="product-145"
          class="
            post-145
            product
            type-product
            status-publish
            has-post-thumbnail
            product_cat-adventure
            first
            instock
            taxable
            shipping-taxable
            purchasable
            product-type-simple
          "
        >
          <div class="SingleProductHeader mb-100">
            <!-- BCM series -->
            <div
              class="
                woocommerce-product-gallery
                woocommerce-product-gallery--with-images
                woocommerce-product-gallery--columns-4
                images
                col-md-6
              "
              data-columns="4"
              style="opacity: 1; transition: opacity 0.25s ease-in-out 0s"
            >
              <div
                class="
                  woocommerce-product-gallery__image-wrapper
                  SingleProductImage
                "
              >
                <div
                  class="woocommerce-product-gallery__image PageFlipBook"
                >
                  <a
                    href="/buy"
                    class="is-page-flip single-has-edge has-edge has-edge-thick"
                    data-post-id="145"
                    >
                    <img
                      width="700"
                      height="1047"
                      src="/static/assets/images/bcm-series.png"
                      class="
                        attachment-shop_single
                        size-shop_single
                        wp-post-image
                      "
                      alt=""
                      loading="lazy"
                      title="BCM"
                      data-large_image_width="923"
                      data-large_image_height="1381"
                      sizes="(max-width: 400px) 100vw, 700px"
                  /></a>
                </div>
                <div class="single-product-price p-price">
                  <span class="price-text font-heading">
                    <span class="woocommerce-Price-amount amount font-heading">
                      <span class="woocommerce-Price-amount amount"
                        ><span class="woocommerce-Price-currencySymbol"
                          >&#8358;</span
                        >3000</span
                      >
                    </span>
                  </span>
                </div>
              </div>
              <div
                class="
                  woocommerce-product-gallery__thumbnails_wrapper
                  is-lightbox-gallery
                "
              ></div>
            </div>

            <div class="single-product-summary col-md-6">
              <div class="SpecialHeading mb-60">
                <h1
                  class="
                    product_title
                    special-title special-heading-letter
                    entry-title
                  "
                >
                  BCM series
                </h1>
              </div>
              <div class="woocommerce-product-details__short-description mb-60">
                <p>
                  Best Choice Mathematics for Junior Secondary Schools past
                  questions and answers and workbook series addresses the
                  myriads of challenges faced by our young stars in tackling
                  mathematical problems, by providing an easy to read and step
                  by step solution to mathematical problems. These series were
                  written from classroom experience and direct interaction with
                  students as such, bridges the gap between students and
                  teachers and demystifies the subject through practical
                  approaches. It treats in detail, all mathematical concepts
                  with an ample supply of work examples and revision exercises
                  at the end of each chapter.
                </p>
                <p>
                  Best choice mathematics is carefully planned and arranged from
                  the known to the unknown with the learners in mind. Each
                  chapter consists of clearly stated objectives of what is to be
                  done. With network of teachers consulted and experts' advice
                  sought, this book series provides the fundamental concept
                  which most students will find appetizing. Each topic is
                  treated step by step from different points of view to enable
                  the reader have a balanced knowledge of each topic under
                  consideration.
                </p>

                <div
                  class="spacer"
                  id="shortcode-721c40a2bc3ec5b956576c905369c926"
                ></div>

                <a
                  href="books"
                  class="shortcode-button btn btn-normal"
                  id="shortcode-99506d65e5114750f5ebdf574d5992b1"
                >
                  <span>View Books</span>
                </a>
              </div>
            </div>
            <!-- .summary -->

            <!-- BCM pqa  -->
            <div class="single-product-summary col-md-6">
              <div class="SpecialHeading mb-60">
                <h1
                  class="
                    product_title
                    special-title special-heading-letter
                    entry-title
                  "
                >
                BCM Past Questions & Answers
                </h1>
              </div>
              <div class="woocommerce-product-details__short-description mb-60">
                <p>
                  <em>Best Choice Mathematics - Past Questions and Answers</em> is not your regular past questions and answers book. It is a well-structured masterpiece, carefully designed, sequentially presented, accurately weighed and written in simple language for self-understanding by the learner. 
                </p>
                <p>
                  Clear explanations of mathematical concepts are given by breaking each problem down into miniature steps to enable every learner appreciate the solution progressively. 
                </p>

                <div
                  class="spacer"
                  id="shortcode-721c40a2bc3ec5b956576c905369c926"
                ></div>

                <a
            href="/buy"
            class="shortcode-button btn btn-normal"
            id="shortcode-5a43aa31129f65af754d0ed2658b972b"
          >
            <span>Buy Now</span>
          </a>
              </div>
            </div>
            <div
              class="
                woocommerce-product-gallery
                woocommerce-product-gallery--with-images
                woocommerce-product-gallery--columns-4
                images
                col-md-6
              "
              data-columns="4"
              style="opacity: 1; transition: opacity 0.25s ease-in-out 0s"
            >
              <div
                class="
                  woocommerce-product-gallery__image-wrapper
                  SingleProductImage
                "
              >
                <div
                  class="woocommerce-product-gallery__image PageFlipBook"
                >
                  <a
                    href="#"
                    class="is-page-flip single-has-edge has-edge has-edge-thick"
                    data-post-id="145"
                    >
                    <img
                      width="700"
                      height="1047"
                      src="/static/assets/images/bcm-pqa-removebg-preview.png"
                      class="
                        attachment-shop_single
                        size-shop_single
                        wp-post-image
                      "
                      alt=""
                      loading="lazy"
                      title="BCM"
                      data-large_image_width="923"
                      data-large_image_height="1381"
                      sizes="(max-width: 400px) 100vw, 700px"
                  /></a>
                </div>
                <div class="single-product-price">
                  <span class="price-text font-heading">
                    <span
                      class="woocommerce-Price-amount amount font-heading"
                    >
                      <span class="woocommerce-Price-amount amount"
                        ><span class="woocommerce-Price-currencySymbol"
                          >&#8358;</span
                        >2000</span
                      >
                    </span>
                  </span>
                </div>
              </div>
              <div
                class="
                  woocommerce-product-gallery__thumbnails_wrapper
                  is-lightbox-gallery
                "
              ></div>
            </div>
            <!-- .summary -->
            <div class="row">
              <div
              class="
                woocommerce-product-gallery
                woocommerce-product-gallery--with-images
                woocommerce-product-gallery--columns-4
                images
                col-md-7
              "
              data-columns="4"
              style="opacity: 1; transition: opacity 0.25s ease-in-out 0s"
            >
            <div class="SpecialHeading mb-60">
              <h1
                class="
                  product_title
                  special-title special-heading-letter
                  entry-title
                "
              >
                BCM series
              </h1>
            </div>
            <div class="woocommerce-product-details__short-description mb-60">
              <p>
                Best Choice Mathematics for Junior Secondary Schools past
                questions and answers and workbook series addresses the
                myriads of challenges faced by our young stars in tackling
                mathematical problems, by providing an easy to read and step
                by step solution to mathematical problems. These series were
                written from classroom experience and direct interaction with
                students as such, bridges the gap between students and
                teachers and demystifies the subject through practical
                approaches. It treats in detail, all mathematical concepts
                with an ample supply of work examples and revision exercises
                at the end of each chapter.
              </p>
              <p>
                Best choice mathematics is carefully planned and arranged from
                the known to the unknown with the learners in mind. Each
                chapter consists of clearly stated objectives of what is to be
                done. With network of teachers consulted and experts' advice
                sought, this book series provides the fundamental concept
                which most students will find appetizing. Each topic is
                treated step by step from different points of view to enable
                the reader have a balanced knowledge of each topic under
                consideration.
              </p>

              <div
                class="spacer"
                id="shortcode-721c40a2bc3ec5b956576c905369c926"
              ></div>

              <a
                href="books"
                class="shortcode-button btn btn-normal"
                id="shortcode-99506d65e5114750f5ebdf574d5992b1"
              >
                <span>Buy Now</span>
              </a>
            </div>
            </div>

            <div class="single-product-summary col-md-4 col-md-offset-1">

              <div
                class="
                  woocommerce-product-gallery__image-wrapper
                  SingleProductImage
                "
              >
                <div
                  class="woocommerce-product-gallery__image PageFlipBook"
                >
                  <a
                    href="/buy"
                    class="is-page-flip single-has-edge has-edge has-edge-thick"
                    data-post-id="145"
                    >
                    <img
                      width="700"
                      height="1047"
                      src="/static/assets/images/bcm-workbook-removebg-preview.png"
                      class="
                        attachment-shop_single
                        size-shop_single
                        wp-post-image
                      "
                      alt=""
                      loading="lazy"
                      title="BCM"
                      data-large_image_width="923"
                      data-large_image_height="1381"
                      sizes="(max-width: 400px) 100vw, 700px"
                  /></a>
                </div>
                <div class="single-product-price p-price">
                  <span class="price-text font-heading">
                    <span class="woocommerce-Price-amount amount font-heading">
                      <span class="woocommerce-Price-amount amount"
                        ><span class="woocommerce-Price-currencySymbol"
                          >&#8358;</span
                        >2000</span
                      >
                    </span>
                  </span>
                </div>
              </div>
              <div
                class="
                  woocommerce-product-gallery__thumbnails_wrapper
                  is-lightbox-gallery
                "
              ></div>
            </div>
            </div>
            <!-- end row -->
        </div>
        <!-- #product-145 -->
      </div>
      <!-- end col-sm-12 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
