/* Typography */
body {
    font-family: Mulish;
    font-style: normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .fw-table .heading-row,
  .fw-package .fw-heading-row,
  .special-first-letter > p:first-of-type:first-letter,
  .special-heading-letter:first-letter,
  .woocommerce .price del,
  .woocommerce .price > span,
  .font-heading {
    font-family: Cinzel Decorative;
    font-style: normal;
  }

  .font-subheading,
  .element-title,
  .BoxedTitle h2,
  .special-link,
  .btn,
  .woocommerce #respond input#submit,
  .woocommerce a.button,
  .woocommerce button.button,
  .woocommerce input.button,
  .btn:focus,
  .woocommerce #respond input#submit:focus,
  .woocommerce a.button:focus,
  .woocommerce button.button:focus,
  .woocommerce input.button:focus,
  button[type="submit"],
  button[type="submit"]:focus,
  input[type="submit"],
  input[type="submit"]:focus,
  label {
    font-family: Gentium Basic;
    font-style: normal;
  }

  /* Main Color */

  a,
  a:focus {
    color: #faab9f;
  }

  a.link-border {
    border-bottom: 2px solid #faab9f;
  }

  ::-moz-selection {
    background: #faab9f;
  }

  ::selection {
    background: #faab9f;
  }

  blockquote footer cite:before {
    background-color: #faab9f;
  }

  .SearchForm .search-form-wrapper .btn-search:hover {
    border-left: 1px solid #faab9f;
  }

  .field-text:hover label,
  .field-textarea:hover label {
    color: #faab9f;
  }

  .main-navigation-menu a i[class^="icon-"] {
    color: #faab9f;
  }

  .main-navigation-menu a:hover {
    color: #faab9f;
  }

  .main-navigation-menu a:hover i {
    color: #faab9f;
  }

  .main-navigation-menu .current-menu-item > a {
    color: #faab9f;
  }

  .main-navigation-menu .current-menu-item > a i {
    color: #faab9f;
  }

  .slicknav_nav a i[class^="icon-"] {
    color: #faab9f;
  }

  .slicknav_nav a:hover {
    background: #faab9f;
  }

  .EventsFilter .events-filter-dropdown .dropdown-menu li a:hover {
    background-color: #faab9f;
  }

  .FeaturedEvent .featured-event-meta-wrapper .featured-event-label {
    border-bottom: 2px solid #faab9f;
  }

  .Excerpt .ExcerptContentWrapper .excerpt-date span {
    border-bottom: 3px dotted #faab9f;
  }

  .PostNav {
    border-bottom: 1px dotted #faab9f;
  }

  .page-links a {
    border-bottom: 1px solid #faab9f;
  }

  .SingleEventHeader .single-event-location i {
    color: #faab9f;
  }

  .SingleEventMetaHeader .information-wrapper .information-item:before {
    background-color: #faab9f;
  }

  .SimplifiedPosts .simplified-post-meta .simplified-post-date span {
    border-bottom: 3px dotted #faab9f;
  }

  .SinglePostFooter .single-post-footer-share a {
    color: #faab9f;
  }

  .commentslist-container .comment-reply-title small {
    border-bottom: 1px solid #faab9f;
  }

  .fw-accordion .fw-accordion-title:before {
    color: #faab9f;
  }

  .fw-accordion .fw-accordion-title.ui-state-active {
    background-color: #faab9f;
  }

  .btn > i,
  .woocommerce #respond input#submit > i,
  .woocommerce a.button > i,
  .woocommerce button.button > i,
  .woocommerce input.button > i,
  .woocommerce #respond input#submit.alt > i,
  .woocommerce a.button.alt > i,
  .woocommerce button.button.alt > i,
  .woocommerce input.button.alt > i,
  button[type="submit"] > i,
  input[type="submit"] > i {
    color: #faab9f;
  }

  .btn:hover,
  .woocommerce #respond input#submit:hover,
  .woocommerce a.button:hover,
  .woocommerce button.button:hover,
  .woocommerce input.button:hover,
  .btn:active,
  .woocommerce #respond input#submit:active,
  .woocommerce a.button:active,
  .woocommerce button.button:active,
  .woocommerce input.button:active,
  .btn:active:focus,
  .woocommerce #respond input#submit:active:focus,
  .woocommerce a.button:active:focus,
  .woocommerce button.button:active:focus,
  .woocommerce input.button:active:focus,
  .btn-normal:hover,
  .btn-normal:active,
  .btn-normal:active:focus,
  button[type="submit"]:hover,
  button[type="submit"]:active,
  button[type="submit"]:active:focus,
  input[type="submit"]:hover,
  input[type="submit"]:active,
  input[type="submit"]:active:focus {
    background: #faab9f;
    border: 1px solid #faab9f;
  }

  .btn.btn-color,
  .woocommerce #respond input.btn-color#submit,
  .woocommerce a.btn-color.button,
  .woocommerce button.btn-color.button,
  .woocommerce input.btn-color.button,
  .btn.btn-color:focus,
  .woocommerce #respond input.btn-color#submit:focus,
  .woocommerce a.btn-color.button:focus,
  .woocommerce button.btn-color.button:focus,
  .woocommerce input.btn-color.button:focus,
  button[type="submit"].btn.btn-color,
  .woocommerce button[type="submit"].btn-color.button,
  button[type="submit"].btn.btn-color:focus,
  .woocommerce button[type="submit"].btn-color.button:focus,
  input[type="submit"].btn.btn-color,
  .woocommerce #respond input[type="submit"].btn-color#submit,
  .woocommerce input[type="submit"].btn-color.button,
  input[type="submit"].btn.btn-color:focus,
  .woocommerce #respond input[type="submit"].btn-color#submit:focus,
  .woocommerce input[type="submit"].btn-color.button:focus {
    background: #faab9f;
    border: 1px solid #faab9f;
  }

  .btn.btn-color:hover,
  .woocommerce #respond input.btn-color#submit:hover,
  .woocommerce a.btn-color.button:hover,
  .woocommerce button.btn-color.button:hover,
  .woocommerce input.btn-color.button:hover,
  .btn.btn-color:active,
  .woocommerce #respond input.btn-color#submit:active,
  .woocommerce a.btn-color.button:active,
  .woocommerce button.btn-color.button:active,
  .woocommerce input.btn-color.button:active,
  .btn.btn-color:active:focus,
  .woocommerce #respond input.btn-color#submit:active:focus,
  .woocommerce a.btn-color.button:active:focus,
  .woocommerce button.btn-color.button:active:focus,
  .woocommerce input.btn-color.button:active:focus,
  button[type="submit"].btn.btn-color:hover,
  .woocommerce button[type="submit"].btn-color.button:hover,
  button[type="submit"].btn.btn-color:active,
  .woocommerce button[type="submit"].btn-color.button:active,
  button[type="submit"].btn.btn-color:active:focus,
  .woocommerce button[type="submit"].btn-color.button:active:focus,
  input[type="submit"].btn.btn-color:hover,
  .woocommerce #respond input[type="submit"].btn-color#submit:hover,
  .woocommerce input[type="submit"].btn-color.button:hover,
  input[type="submit"].btn.btn-color:active,
  .woocommerce #respond input[type="submit"].btn-color#submit:active,
  .woocommerce input[type="submit"].btn-color.button:active,
  input[type="submit"].btn.btn-color:active:focus,
  .woocommerce #respond input[type="submit"].btn-color#submit:active:focus,
  .woocommerce input[type="submit"].btn-color.button:active:focus {
    border: 1px solid #faab9f;
  }

  .btn.btn-icon,
  .woocommerce #respond input.btn-icon#submit,
  .woocommerce a.btn-icon.button,
  .woocommerce button.btn-icon.button,
  .woocommerce input.btn-icon.button,
  .btn.btn-icon:focus,
  .woocommerce #respond input.btn-icon#submit:focus,
  .woocommerce a.btn-icon.button:focus,
  .woocommerce button.btn-icon.button:focus,
  .woocommerce input.btn-icon.button:focus {
    background: #faab9f;
    border: 1px solid #faab9f;
  }

  .btn.btn-icon:hover,
  .woocommerce #respond input.btn-icon#submit:hover,
  .woocommerce a.btn-icon.button:hover,
  .woocommerce button.btn-icon.button:hover,
  .woocommerce input.btn-icon.button:hover,
  .btn.btn-icon:active,
  .woocommerce #respond input.btn-icon#submit:active,
  .woocommerce a.btn-icon.button:active,
  .woocommerce button.btn-icon.button:active,
  .woocommerce input.btn-icon.button:active,
  .btn.btn-icon:active:focus,
  .woocommerce #respond input.btn-icon#submit:active:focus,
  .woocommerce a.btn-icon.button:active:focus,
  .woocommerce button.btn-icon.button:active:focus,
  .woocommerce input.btn-icon.button:active:focus {
    background: #faab9f;
    border: 1px solid #faab9f;
  }

  .btn.btn-border,
  .woocommerce #respond input.btn-border#submit,
  .woocommerce a.btn-border.button,
  .woocommerce button.btn-border.button,
  .woocommerce input.btn-border.button,
  .btn.btn-border:focus,
  .woocommerce #respond input.btn-border#submit:focus,
  .woocommerce a.btn-border.button:focus,
  .woocommerce button.btn-border.button:focus,
  .woocommerce input.btn-border.button:focus {
    border: 1px solid #faab9f;
  }

  .btn.btn-border:hover,
  .woocommerce #respond input.btn-border#submit:hover,
  .woocommerce a.btn-border.button:hover,
  .woocommerce button.btn-border.button:hover,
  .woocommerce input.btn-border.button:hover,
  .btn.btn-border:active,
  .woocommerce #respond input.btn-border#submit:active,
  .woocommerce a.btn-border.button:active,
  .woocommerce button.btn-border.button:active,
  .woocommerce input.btn-border.button:active,
  .btn.btn-border:active:focus,
  .woocommerce #respond input.btn-border#submit:active:focus,
  .woocommerce a.btn-border.button:active:focus,
  .woocommerce button.btn-border.button:active:focus,
  .woocommerce input.btn-border.button:active:focus {
    background: #faab9f;
    border: 1px solid #faab9f;
  }

  .btn.btn-light:hover,
  .woocommerce #respond input.btn-light#submit:hover,
  .woocommerce a.btn-light.button:hover,
  .woocommerce button.btn-light.button:hover,
  .woocommerce input.btn-light.button:hover,
  .btn.btn-light:active,
  .woocommerce #respond input.btn-light#submit:active,
  .woocommerce a.btn-light.button:active,
  .woocommerce button.btn-light.button:active,
  .woocommerce input.btn-light.button:active,
  .btn.btn-light:active:focus,
  .woocommerce #respond input.btn-light#submit:active:focus,
  .woocommerce a.btn-light.button:active:focus,
  .woocommerce button.btn-light.button:active:focus,
  .woocommerce input.btn-light.button:active:focus {
    background: #faab9f;
    border: 1px solid #faab9f;
  }

  .ShortcodeBlog .blog-show-more {
    border-bottom: 1px dotted #faab9f;
  }

  .BoxIcon .box-icon-header-wrapper i {
    color: #faab9f;
  }

  .c-element-show-more {
    border-bottom: 1px dotted #faab9f;
  }

  .fw-tabs-container .fw-tabs ul li.ui-state-active .tabs-icon {
    color: #faab9f;
  }

  .Testimonial .testimonial-meta a.testimonial-company {
    color: #faab9f;
  }

  .menu-toc li a {
    border-left: 2px solid #faab9f;
  }

  .menu-toc li a:hover {
    border-left: 10px solid #faab9f;
  }

  .menu-toc .menu-toc-current a {
    border-left: 10px solid #faab9f;
  }

  .menu-panel div a {
    color: #faab9f;
  }

  .bb-custom-wrapper nav span,
  .menu-button,
  .bb-nav-close {
    color: #faab9f;
  }

  .menu-button .close-icon-color {
    color: #faab9f;
  }

  .menu-button .close-icon-color:before,
  .menu-button .close-icon-color:after {
    background-color: #faab9f;
  }

  .highlight {
    background-color: #faab9f;
  }

  .section-light .widget a {
    border-bottom: 2px dotted #faab9f;
  }

  .overlay-color {
    background-color: #faab9f;
  }

  .close-icon-color {
    color: #faab9f;
  }

  .close-icon-color:before,
  .close-icon-color:after {
    background-color: #faab9f;
  }

  .SpecialHeading .special-heading-letter:first-letter {
    color: #faab9f;
    border: 1px solid #faab9f;
  }

  .SpecialHeading .special-title-small.special-heading-letter:first-letter {
    color: #faab9f;
    border: 1px solid #faab9f;
  }

  .special-subtitle {
    border-bottom: 3px dotted #faab9f;
  }

  .special-subtitle-type-2:before {
    background-color: #faab9f;
  }

  .dash-left:before {
    background-color: #faab9f;
  }

  .BoxedTitle i {
    color: #faab9f;
  }

  .PageFlipBook .page-flip-book-ribbon {
    background-color: #faab9f;
  }

  .widget a {
    border-bottom: 2px dotted #faab9f;
  }

  .widget .menu .menu-item i[class^="icon-"],
  .widget .menu .menu-item-has-children i[class^="icon-"] {
    color: #faab9f;
  }

  #wp-calendar caption {
    background-color: #faab9f;
  }

  #wp-calendar #today {
    color: #faab9f;
  }

  .widget_tag_cloud .tagcloud a:hover,
  .widget_product_tag_cloud .tagcloud a:hover {
    background-color: #faab9f;
    border-color: #faab9f;
  }

  .widget.widget_odrin_about_me_widget .about-me-widget-footer a:hover {
    border: 1px solid #faab9f;
  }

  .widget_popular_posts .popular-posts-meta-extra {
    border-bottom: 2px dotted #faab9f;
  }

  a.tweet-time {
    color: #faab9f;
  }

  .woocommerce.widget_product_search input[type="submit"] {
    border: 2px solid #faab9f;
    background-color: #faab9f;
  }

  .woocommerce.widget_product_search input[type="submit"]:hover {
    border: 2px solid #faab9f;
  }

  .woocommerce.widget .star-rating span:before {
    color: #faab9f;
  }

  .woocommerce.widget .star-rating:before {
    color: #faab9f;
  }

  .woocommerce nav.woocommerce-pagination ul li a,
  .woocommerce nav.woocommerce-pagination ul li span {
    border-bottom: 2px dotted #faab9f;
  }

  .woocommerce nav.woocommerce-pagination ul li a:hover,
  .woocommerce nav.woocommerce-pagination ul li a:focus {
    border-bottom: 2px dotted #faab9f;
  }

  .woocommerce #reviews .star-rating {
    color: #faab9f;
  }

  .woocommerce #respond input#submit.alt:hover,
  .woocommerce a.button.alt:hover,
  .woocommerce button.button.alt:hover,
  .woocommerce input.button.alt:hover {
    background: #faab9f;
  }

  .woocommerce-account
    .woocommerce
    .woocommerce-MyAccount-navigation-link
    a {
    border-left: 0px solid #faab9f;
  }

  .woocommerce-account
    .woocommerce
    .woocommerce-MyAccount-navigation-link
    a:hover {
    border-left: 15px solid #faab9f;
  }

  .woocommerce-account
    .woocommerce
    .woocommerce-MyAccount-navigation-link.is-active
    a {
    border-left: 15px solid #faab9f;
  }

  /* Secondary Color */

  a:hover,
  a:active {
    color: #d38d45;
  }

  hr {
    border-color: #d38d45;
  }

  del {
    -webkit-text-decoration-color: #d38d45;
    -moz-text-decoration-color: #d38d45;
    text-decoration-color: #d38d45;
  }

  mark {
    border-bottom: 1px dashed #d38d45;
  }

  .EventsFilter .events-filter-dropdown .btn-dropdown a {
    border-bottom: 3px dotted #d38d45;
  }

  .FeaturedEvent .featured-event-meta-wrapper {
    background-color: #d38d45;
  }

  .Excerpt .ExcerptContentWrapper .ElementHeading .element-title:hover {
    color: #d38d45;
  }

  .Excerpt.sticky .ExcerptContentWrapper .excerpt-date {
    background-color: #d38d45;
  }

  .SinglePostHeader .single-post-meta-categories a:hover {
    color: #d38d45;
  }

  .SinglePostHeader .section-light .single-post-meta-categories a:hover {
    color: #d38d45;
  }

  .SingleEventHeader:before {
    background-color: #d38d45;
  }

  .SingleEventDate {
    background-color: #d38d45;
  }

  .SinglePostContent
    .single-post-content-inner
    ul:not(.shortcode-list-wrapper):not(.ui-tabs-nav)
    li:before {
    background-color: #d38d45;
  }

  .SinglePostFooter .single-post-footer-share {
    border-bottom: 4px dotted #d38d45;
  }

  .SinglePostFooter .single-post-footer-back a:hover {
    color: #d38d45;
  }

  .fw-accordion .fw-accordion-content {
    border-bottom: 2px solid #d38d45;
  }

  .BooksPanel .book-panel-price > span .woocommerce-Price-currencySymbol {
    color: #d38d45;
  }

  .ContentElement {
    box-shadow: 15px 15px 0px 0px #d38d45;
  }

  .ContentElement .c-element-date-wrapper .c-element-delimeter {
    color: #d38d45;
  }

  .ContentElement .c-element-date-wrapper .with-delimeter:before {
    background-color: #d38d45;
  }

  .special-text-block-color .special-text-block-content {
    background-color: #d38d45;
  }

  .NumberedList .list-item-number:before {
    background-color: #d38d45;
  }

  .UnorderedList .list-item-number:before {
    background-color: #d38d45;
  }

  .fw-tabs-container .fw-tabs ul li.ui-state-active a:after {
    background-color: #d38d45;
  }

  .UpcomingBookWrapper .upcoming-book-content .special-link {
    color: #d38d45;
  }

  .UpcomingBookWrapper
    .upcoming-book-release-date
    .countdown-item
    .countdown-text {
    color: #d38d45;
  }

  .bb-custom-wrapper nav span:hover,
  .menu-button:hover,
  .bb-nav-close:hover {
    color: #d38d45;
  }

  .bb-custom-wrapper nav span:hover:after,
  .menu-button:hover:after,
  .bb-nav-close:hover:after {
    color: #d38d45;
  }

  .bb-custom-wrapper nav span:hover i,
  .menu-button:hover i,
  .bb-nav-close:hover i {
    color: #d38d45;
  }

  .menu-button:hover .close-icon-color {
    color: #d38d45;
  }

  .menu-button:hover .close-icon-color:before,
  .menu-button:hover .close-icon-color:after {
    background-color: #d38d45;
  }

  .overlay-color-2 {
    background-color: #d38d45;
  }

  .close-icon-color:hover {
    color: #d38d45;
  }

  .close-icon-color:hover:before,
  .close-icon-color:hover:after {
    background-color: #d38d45;
  }

  .special-first-letter > p:first-of-type:first-letter {
    color: #d38d45;
  }

  .owl-carousel .owl-dot.active span,
  .owl-carousel .owl-dot:hover span {
    border-bottom: 3px solid #d38d45;
  }

  .PageFlipBook .page-flip-book-ribbon:after {
    border-color: #d38d45 transparent transparent transparent;
  }

  .blockquote-icon {
    background-color: #d38d45;
  }

  .blockquote-icon:after {
    border-color: transparent transparent #d38d45 transparent;
  }

  .widget a:hover {
    color: #d38d45;
  }

  .widget .sub-menu:before,
  .widget .sub-menu:after,
  .widget ul.children:before,
  .widget ul.children:after {
    background-color: #d38d45;
  }

  .widget_tag_cloud .tagcloud a,
  .widget_product_tag_cloud .tagcloud a {
    border: 1px solid #d38d45;
  }

  .woocommerce ul.product_list_widget li .woocommerce-Price-currencySymbol {
    color: #d38d45;
  }

  .woocommerce nav.woocommerce-pagination ul li a:hover,
  .woocommerce nav.woocommerce-pagination ul li a:focus {
    color: #d38d45;
  }

  .woocommerce .price > span .woocommerce-Price-currencySymbol {
    color: #d38d45;
  }

  .woocommerce .woocommerce-product-rating .star-rating {
    color: #d38d45;
  }

  .woocommerce span.onsale {
    background-color: #d38d45;
  }

  .woocommerce span.onsale:before {
    border-top: 10px solid #d38d45;
    border-left: 5px solid #d38d45;
  }

  .woocommerce span.onsale:after {
    border-bottom: 10px solid #d38d45;
    border-left: 5px solid #d38d45;
  }

  .SingleProductImage
    .single-product-price
    .woocommerce-Price-currencySymbol {
    color: #d38d45;
  }

  .woocommerce table.cart a.remove {
    color: #d38d45 !important;
  }

  .woocommerce table.cart a.remove:hover {
    background-color: #d38d45 !important;
  }

  .woocommerce-account
    .woocommerce
    .woocommerce-MyAccount-navigation-link.is-active
    a {
    color: #d38d45;
  }

  .woocommerce .woocommerce-notice {
    border-left: 10px solid #d38d45;
  }

  .woocommerce .woocommerce-message,
  .woocommerce .woocommerce-info {
    border-top-color: #d38d45;
  }

  .woocommerce .woocommerce-message:before,
  .woocommerce .woocommerce-info:before {
    color: #d38d45;
  }

  /* Navigation */

  .main-navigation-container,
  .main-navigation-menu .sub-menu,
  .slicknav_menu,
  .slicknav_nav .sub-menu {
    background-color: #fafafa;
  }

  .slicknav_nav .sub-menu {
    filter: contrast(90%);
    border: 1px solid #fafafa;
  }

  /* Footer */

  .footer .overlay-color {
    background-color: #ffffff;
  }

  /* Custom CSS */

  .book-container {
    overflow: visible;

  }

.navigation-logo {
    margin-left: 10px !important;
}
.input-number{
    transition: all ease-in-out .15s;
    display: block;
    width: 100%;
    padding: 13px 16px;
    background-color: #fff;
    border-radius: 0;
    border: none;
    }

    .single-product-price {
      margin-right: 60px;
    }